body{
    background-color: #fff#2d2d2d;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

a{
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0; 
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #040404;
    height: 52px;
    justify-content: space-between;
}


.logo:hover{
    cursor: default;
}

.header div:nth-child(2){
    display: flex;
}
.header div:nth-child(2) a{
    margin-left: 20px;
}
.header div:nth-child(2) a:nth-child(2){
    color: #d69406;
}


.pagelink{
    font-weight: 400;
    font-size: 23px;
    color: #fff;
}

.pagelink:hover{
    color: #e2b147;
    cursor: pointer;
}

.pagelink:active{
    color: #c68700;
    cursor: none;
}

.description div {
    color: #2d2d2d;
}

.description div span{
    font-size: 30px;
    font-weight: 700;
}

.description div span span:first-child{
    color: #e2b147;
}

.description{
    display: grid;
    object-fit: cover;
    margin-bottom: 45px;
}

.description div p{
    margin-top: 35px;
    color: #2d2d2d;
    font-weight: 400;
    font-size: 15px;
}



.description:nth-child(2){
    justify-content: center;
    align-items: center;
}

.guests{
    display: flex;
    flex-direction: column;
    justify-content: space-around center;
    align-items: center;
    height: 400px;
    background-image: url(\img\\test-bg.jpg);
    background-color: #040404;
    background-size: cover;
}

#whatGuests {
    margin: 30px 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.guests div img{
    margin: 8px;
    height: 80px;
    border-radius: 40px;
}

.guests .guest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #2d2d2d;
    width: 90%;
    background-color: #e2b147;
    margin-top: 20px;
}


footer {
    bottom: 0px;
    position: fixed;
    width: 100vw;
    background-color: #040404;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

@media(max-width: 500px){
    
    .logo{
        display: none;
        visibility: hidden;
        position: sticky;
        justify-content: center;
    }
    .header{
justify-content: center;

    }
    .header div:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-right: 80px; */
    }
    .description div p{
        text-align: justify;
    }

    .description div{
        margin: 80px 50px 0 50px;
        }


     .description div img{
         display: none;
        max-width: 100%;
        height: auto;
        border-radius: 30%;
    }
    .guests p{
        margin: 8px 8px 8px 0;
    }
}
@media(min-width: 501px){
    .logo{
        margin-left: 80px;
        font-weight: 900;
        font-size: 26px;
    }
    .logo:hover{
        cursor: default;
    }
    
    .header div:nth-child(2){
        padding-right: 80px;
    }

    .description{
        grid-template-columns: 1fr 1fr;
    }

    .description div{
    margin: 100px 15px 0 80px;
    }

    .description div p{
        margin-right: 15px;
    }

    .description div img{
        max-width: 60%;
        height: auto;
        border-radius: 50%;
    }
}