body{
    background-color: #2d2d2d;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

a{
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0; 
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #040404;
    height: 52px;
    justify-content: space-between;
}

.logo{
    margin-left: 80px;
    font-weight: 900;
    font-size: 26px;
}
.logo:hover{
    cursor: default;
}

.header div:nth-child(2){
    display: flex;
    justify-content: right;
    padding-right: 80px;
}
.header div:nth-child(2) a{
    margin-left: 20px;
}

.header div:nth-child(2) a:nth-child(1){
    color: #d69406;
}

.pagelink{
    font-weight: 400;
    font-size: 23px;
    color: #fff;
}

.pagelink:hover{
    color: #e2b147;
    cursor: pointer;
}

.pagelink:active{
    color: #c68700;
    cursor: none;
}

.enjoy{
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: url(\img\\showcase.jpg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    width: auto;
}

.enjoy div:nth-child(1){
    display: flex;
    font-size: 40px;
}

.enjoy div:nth-child(1) p:nth-child(1){
    color: #e2b147;
    margin: 0 8px 0 0;
    font-weight: 700;
}
.enjoy div:nth-child(1) p:nth-child(2){
    font-weight: 700;
}



.enjoy div:nth-child(2){
    padding: 30px;
    font-size: 17px;
}

.enjoy div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 46px;
    background-color: #2d2d2d;
    border: 1px solid  #2d2d2d;
    border-radius: 1px;
}



.history-bg{
    background-image: url(\img\\photo-1.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
}


.history{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.history div:nth-child(1){
display: flex;
    font-size: 26px;
}

.history div:nth-child(1) p:nth-child(1){
    color: #e2b147;
    margin: 0 8px 0 0;
    font-weight: 700;
}
.history div:nth-child(1) p:nth-child(2){
    font-weight: 700;
}
.history div p{
    font-family: 'Roboto', sans-serif;
}

.history-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
}
.history-text div{
    margin: 15px;
}
.history-text div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 32px;
    background-color: #fff;
    border: 1px solid  #2d2d2d;
    border-radius: 1px;
    color: #040404;
}

.advantages{
    height: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.advantages div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.advantages div p{
    padding-top: 15px;
    
    color: #2d2d2d;
}

.advantages div p:first-child{
    font-size: 22px;
    font-weight: 700;
}

.advantages div:nth-child(1), .advantages div:nth-child(3){
    background-color: #e2b147;
}

.advantages div:nth-child(2){
    background-color: #ffffff;
}

footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}